<div{{attributes}}>

	{% block body %}

		<div class="container">
			<div class="text-center  mx-auto">
				<div class="input-group">
					<input type="search" data-model="q" value="{{this.q}}" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
				</div>
				{% for article in this.getArticles() %}
				</div>
				<div class="row">
					<div class="col-md-3 mb-4 mt-4">
						<div class="card h-100 d-flex flex-column justify-content-between">
							<div class="card-body">
								<h5 class="card-title">{{ article.title }}</h5>
								<p class="card-text">
									{{ article.content|slice(0, 100) }}
									{% if article.content|length > 100 %}...
									{% endif %}
								</p>
							</div>
							<div class="card-footer">
								<a href="{{ path('app_article_show', {slug : article.slug}) }}" class="btn btn-primary">Détails</a>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
		<div class="text-center  mx-auto mt-5">
			<a href="{{ path('app_categorie')}}" class="btn btn-primary">Retour</a>

		</div>

	{% endblock %}

</div>
