{% extends 'base.html.twig' %}

{% block title %}
	Hello ProductController!
{% endblock %}

{% block body %}
	{% include "/navbar.html.twig" %}<br>
	{% for message in app.flashes('notice')%}
		<p>{{message}}</p>
	{% endfor %}
	<h1>{{ article.title }}</h1>
	<p>
		<i>{{ article.content }}</i>
	</p>
	<img class=" width: 8rem;" src="{{asset('uploads/article/'~ article.image)}}" alt="photo de profil" alt="Card image cap">
	<p>
		{{ article.categorie }}
	</p>

{% if app.user is not null and app.user.id is defined %}
    {% if app.user.id == article.user.id %}
        <a href="{{ path('app_article_delete', {id : article.id}) }}" class="btn btn-primary">Supprimer l'article</a>
        <a href="{{ path('app_article_edit', {id : article.id}) }}" class="btn btn-primary">Modifier l'article</a>
    {% endif %}
{% endif %}
	<h2>Commentaires</h2>
	<ul>
		{% for comment in comments %}
			<li>
				<strong>{{ comment.title }}</strong>
				<p>{{ comment.content }}</p>
				Écrit par
				<strong>{{ comment.user.firstname }}</strong>
			</li>
			{% if app.user is not null and app.user.id is defined %}
			{% if app.user.id == comment.user.id  %}
				<a href="{{ path('app_comment_delete',{id : comment.id})}}" class="btn btn-primary">Supprimer</a>
			{% endif %}
			{% endif %}
		{% endfor %}
	</ul>
			<a href="{{ path('app_article') }}" class="btn btn-primary">retour</a>
{% if app.user is not null and app.user.id is defined %}
	{% if app.user %}
		{{form(commentForm, {'attr': {'class': 'col-lg-8'}})}}
			{% endif %}
		{% else %}
			<a href="{{ path('app_login') }}" class="btn btn-success">Veuillez vous connecter pour ajouter un commentaire</a>
		{% endif %}
		

{% if app.user is not null and app.user.id is defined %}
		{% if app.user.id == article.user.id %}
			<a href="{{ path('app_article_delete', {id : article.id}) }}">Supprimer</a>
		{% endif %}
		{% endif %}

	{% endblock %}
