{% include 'base.html.twig' %}

{% block body %}
	{% for message in app.flashes('notice')%}
		<p>{{message}}</p>
	{% endfor %}

	<div id="main-content" class="blog-page">
		<div class="container mt-4 mb-5 ">
			<div class="row clearfix justify-content-center">
				<div class="col-lg-8 col-md-12 left-box text-center">
					<div class="card single_post">
						<div class="body pb-4">

							<h3>
								Informations personnelles
							</h3>
							<div class="img-post mb-3">
								<img class="d-block img-fluid mx-auto w-25" src="{{asset('uploads/article/'~ app.user.image)}}" alt="photo de profil">
							</div>
							<p>Prenom :
								{{ user.firstname }}</p>
							<p>Nom :
								{{ user.lastname }}</p>
							<p>Pseudo :
								{{user.pseudo }}</p>
							<p>Email :
								{{ user.email }}</p>
							{% if activeSub %}
								Votre abonnement
								{{activeSub.plan.name}}
								est actif et sera renouvelé
								{{activeSub.currentPeriodEnd|date('d/m/Y')}}.
								<br/>
							{% else %}
								<h3>Souscrire un abonnement</h3>
								{% for plan in plans %}
									<a target="_blank" href="{{ plan.paymentLink }}" class="btn btn-primary">{{plan.name}}</a>
								{% endfor %}
							{% endif %}
						</div>
						<div class="card-footer">
							<a href="{{ path('app_user_edit') }}" class="btn btn-primary">Modifier les informations personnelles</a>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-12 left-box text-center">
							<div class="card single_post mt-4 mb-4">
								<h2>Vos articles :
								</h2>
								{% if articles is not null %}
									{% for article in user.articles %}
										<a href="{{ path('app_article_show', {slug : article.slug}) }}">{{article.title}}</a>
									{% endfor %}
								{% else %}
									<p>Aucun article pour cet utilisateur.</p>
								{% endif %}


								<div class="card-footer">
									<a href="{{ path('app_user_article_download', {slug : app.user.id}) }}" class="btn btn-primary">Télécharger mes articles</a>
								</div>
							</div>
						</div>
					</div>
				{% endblock %}
